<% layout('./layout') -%>
<br />
<% if (locals.errors) { %>
<ul>
  <% Object.values(errors).forEach(function(error){ %>
  <li><%= error.msg %></li>
  <% }); %>
</ul>
<% } %>
<p>Dodaj zawodnika</p>
<form action="/add-competitor" method="post">
  <label for="firstname">Imię: </label>
  <input id="firstname" type="text" name="firstname" />
  <br />
  <label for="lastname">Nazwisko: </label>
  <input id="lastname" type="text" name="lastname" />
  <br />
  <label for="isAdult">Czy jest dorosły? </label>
  <input id="isAdult" type="checkbox" name="isAdult" value="false" />
  <br />
  <input type="submit" value="DODAJ" />
</form>
