<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BELT3000</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul class="ul_nav">
        <li class="li_nav"><a href="/">Strona główna</a></li>
        <li class="li_nav"><a href="/competitors">Zawodnicy</a></li>
        <li class="li_nav"><a href="/nominations">Nominacje</a></li>
      </ul>
    </nav>
    <br />
    <h1>BELT3000</h1>
    <br />
    <%-body -%>
  </body>
</html>
